<!-- <h1>About me</h1> -->
<!-- <p>{{ aboutMe?.name }}</p> -->
<!-- <img [src]="aboutMe?.imagePath"> -->
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="aboutMe?.imagePath" style="width: 300px; height: auto;"> 
          <span class="card-title">About Me</span>
        </div>
        <!-- <div class="card-title">
            <p>About Me</p>
        </div> -->
        <div class="card-content">
          <p>Mein Name ist Emanuele Pintarelli. Ich bin 22 Jahre alt und komme aus Zuchwil.
          <br>
          <br> Was ich mag:
          <br> • Fussball spielen 
          <br> • Juventus
          <br> • 3D Druck
          <br> • Informatik
          <br> • Reisen
          <br> • Mit Freunden und Familie Dinge unternehmen
          </p>
        </div>
        <!-- <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
      </div>
    </div>
  </div>