.card-image img {
    display: inline-block; 
    width: 300px; /* Kann optional beibehalten werden */
    height: auto;
  }
  
  .card {
    display: inline-block;
    font-size: 20px; /* Schriftgröße auf 14px setzen */
    background-color: #F8FAFC;
  }

.card-content {
  display: inline-block; 
  padding: 10px; /* Anpassen oder auf 0 setzen */
  margin: 0;    /* Anpassen oder auf 0 setzen */
  width: 300px; /*  Oder die Breite des Bildes verwenden */ 
  line-height: 1.3; /*  reduziert den Abstand zwischen den Zeilen */
}

.card .card-title {
    display: inline-block;
    width: 300px; /* Kann optional beibehalten werden */
    color: #9AA6B2;
    font-size: 50px;
    font-weight: bold;
    background-color: #F8FAFC;
    // padding-left: 24px;
    // padding-right: 24px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    // line-height: 0; /*  reduziert den Abstand zwischen den Zeilen */
}

.about-me-title {
  color: #9AA6B2;
  font-size: 50px;
  font-weight: bold;
  padding-left: 10.500px;
}

.about-me-form {
  padding-left: 10.500px;
}

.btn {
  background-color: #9AA6B2;
}