.card {
    display: inline-block;
    font-size: 20px; /* Schriftgröße auf 14px setzen */
    background-color: #F8FAFC;
    line-height: 1.3; /*  reduziert den Abstand zwischen den Zeilen */
  }

.card .card-title {
    display: inline-block;
    // width: 300px; /* Kann optional beibehalten werden */
    color: #9AA6B2;
    font-size: 50px;
    font-weight: bold;
    background-color: #F8FAFC;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}